Undertown/[Ll]ibrary/
Undertown/[Tt]emp/
Undertown/[Oo]bj/
Undertown/[Bb]uild/
Undertown/[Bb]uilds/
Undertown/[Ll]ogs/
Undertown/[Uu]ser[Ss]ettings/
Undertown/[Mm]emoryCaptures/
Undertown/[Rr]ecordings/

Undertown/Assets/AssetStoreTools*
Undertown/Assets/Plugins/Editor/JetBrains*
Undertown/.vs/
Undertown/.gradle/
Undertown/ExportedObj/
Undertown/.consulo/
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.booproj
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

*.pidb.meta
*.pdb.meta
*.mdb.meta

sysinfo.txt

*.apk
*.aab
*.unitypackage
*.app

.vscode/
.idea/
crashlytics-build.properties

build/
artifacts/
*.ulf
*.alf
secrets/
.DS_Store
